/*__________________________________________________________*/
/*All pages*/

body{
	background: url("../images/background.png");
	font-family: "Source Sans Pro", sans-serif;
}

#wrapper{
	width: 75%;
	/*height: 4000px;*/ /*Force a scrollable screen.*/
	margin: auto;
	/*border: 3px dashed blue;*/ /*Make wrapper visible.*/
}

div.background{
	position: fixed;
	z-index: -1;
	top: 15%;
	left: 15%;
	width: 70%;
	height: 70%;
	opacity: 0.1;
}

a:link{

}
a:visited{

}
a:hover{
	
}
a:active{

}

/*__________________________________________________________*/
/*index.html*/

div.link{
	position: absolute;
	width: 33%;
	height: 33%;
	text-align: center;
	display: inline-block;
}

#links img{
	max-height: 100%;
}

div #indexMusicLink{
	top: 50%;
	left: 10%;
	background: url("../images/music.png") no-repeat center center;
	background-size: contain;
}

div #indexMusicLink:hover{
	background: url("../images/music_hover.png") no-repeat center center;
	background-size: contain;
}

div #indexGamesLink{
	top: 10%;
	left: 33%;
	background: url("../images/games.png") no-repeat center center;
	background-size: contain;
}

div #indexGamesLink:hover{
	background: url("../images/games_hover.png") no-repeat center center;
	background-size: contain;
}

div #indexWritingLink{
	top: 50%;
	right: 10%;
	background: url("../images/writing.png") no-repeat center center;
	background-size: contain;
}

div #indexWritingLink:hover{
	background: url("../images/writing_hover.png") no-repeat center center;
	background-size: contain;
}

/*__________________________________________________________*/
/*games.html*/

div #games.background{
	background: url("../images/games.png") no-repeat center center;
	background-size: contain;
}

/*__________________________________________________________*/
/*music.html*/

div #music.background{
	background: url("../images/music.png") no-repeat center center;
	background-size: contain;
}

/*__________________________________________________________*/
/*writing.html*/

div #writing.background{
	background: url("../images/writing.png") no-repeat center center;
	background-size: contain;
}