/* Thanks to 
http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page 
for guidance on sticking the footer to the bottom of the page. */

/*__________________________________________________________*/
/* All pages */

html,
body{
	margin: 0;
	padding: 0;
	height: 100%;
}

body{
	background: url("../images/background.png");
	font-family: "Source Sans Pro", sans-serif;
}

p {
	font-size: 1em;
}

div#wrapper{
	position: relative;
	min-height: 100%;
	/*border: 1px solid blue;*/ /*Make wrapper visible.*/
}

div.content{
	padding: 3.5em 0.5% 3.5em 0.5%;
}

div.background{
	position: absolute;
	z-index: -1;
	top: 15%;
	left: 15%;
	width: 70%;
	height: 70%;
	opacity: 0.1;
}

a{
	text-decoration: none;
}

header a:link,
nav a:link,
a:link{
	color: blue;
}

header a:visited,
nav a:visited{
	color: blue;
}

header a:hover,
nav a:hover,
a:hover{
	color: red;
}

a:active{}

/*__________________________________________________________*/
/* Header */

header{
	position: absolute;
	z-index: 4;
	max-width: 66%;
	height: auto;
	top: 0%;
	margin: 0;
	padding: 0.5em;
	/*border: 1px solid blue;*/
}

header section {
	display:inline-block;
}

header h1{
	margin:0;
	font-size: 1.5em;
}

/*__________________________________________________________*/
/* Nav */

nav{
	position: absolute;
	z-index: 3;
	max-width: 33%%;
	height: 2em;
	top: 0;
	right: 0;
	padding: 0.5em;
	/*border: 1px solid red;*/
}

nav ul{
	padding-left: 0;
	margin: auto;
	/*border: 1px solid black;*/
}

nav ul li{
	width: 4em;
	display: inline-block;
	list-style-type: none;
	text-align: center;
	/*border: 1px solid black;*/
}

nav ul li a h2{
	margin:auto;
	font-size: 1.15em;
	/*border: 1px solid black;*/
}

/*__________________________________________________________*/
/* Footer */

footer{
	position: absolute;
	z-index: 2;
	bottom: 0;
	width: 100%;
	height: 3.5em;
	text-align: center;
	/*border: 1px solid red;*/
}

footer img{
	width: 5%;
}

footer section#legalAndLogo section#leftHalf{
	float: left;
	text-align: right;
	width: 50%;
	/*border: 1px solid black*/
}

footer section#legalAndLogo section#leftHalf p{
	margin: 1.5%; /*Matches margin of firstIcon below.*/
}

footer section#legalAndLogo section#rightHalf{
	float: right;
	text-align: left;
	width: 50%;
	/*border: 1px solid black*/
}

footer section#legalAndLogo section#rightHalf a:first-child{
	margin-left: 1.5%; /*Matches margin of leftHalf p above.*/
}

footer section#legalAndLogo section#rightHalf a img:hover{
	position: relative;
	bottom: 0.5em;
}

footer section#footerTxt{
	clear: both;
	font-size: 0.6em; /*Fits the sentence on one line in a 1024px window.*/
	/*border: 1px solid black*/
}

/*a#jumpToTop{
	position: fixed;
	z-index: 10000;
	bottom: 2%;
	right: 2%;
	padding: 0.25em;
	border: 1px solid black;
}*/

/*__________________________________________________________*/
/* index.php */

div#index a div.link{
	position: absolute;
	z-index: 5;
	width: 33%;
	height: 33%;
	text-align: center;
	display: inline-block;
}

div#index a div#indexMusicLink{
	top: 50%;
	left: 10%;
	background: url("../images/music.png") no-repeat center center;
	background-size: contain;
}

div#index a div#indexMusicLink:hover{
	background: url("../images/music_hover.png") no-repeat center center;
	background-size: contain;
}

div#index a div#indexGamesLink{
	top: 10%;
	left: 33%;
	background: url("../images/games.png") no-repeat center center;
	background-size: contain;
}

div#index a div#indexGamesLink:hover{
	background: url("../images/games_hover.png") no-repeat center center;
	background-size: contain;
}

div#index a div#indexWritingLink{
	top: 50%;
	right: 10%;
	background: url("../images/writing.png") no-repeat center center;
	background-size: contain;
}

div#index a div#indexWritingLink:hover{
	background: url("../images/writing_hover.png") no-repeat center center;
	background-size: contain;
}

/*__________________________________________________________*/
/* games.php */

div#games div#gamesPic{
	background: url("../images/games.png") no-repeat center center;
	background-size: contain;
}

/*__________________________________________________________*/
/* music.php */

div#music div#musicPic{
	background: url("../images/music.png") no-repeat center center;
	background-size: contain;
}

/*__________________________________________________________*/
/* writing.php */

div#writing div#writingPic{
	background: url("../images/writing.png") no-repeat center center;
	background-size: contain;
}

/*__________________________________________________________*/
/* about.php */

div#about div#mePic{
	/*position: absolute;
	top:0;
	background: url("../images/me2.jpg") no-repeat center center;
	background-size: contain;
	width: 458px;
	height: 611px;*/
}

div#about div#mePic:hover{
	/*background: url("../images/me.jpg") no-repeat center center;
	background-size: contain;*/
}