/*__________________________________________________________*/
/*All pages*/

body{
	background: url("../images/background.png");
	/*font-family: "Source Sans Pro", sans-serif;*/
}

#wrapper{
	/*background-color: red;*/ /*make the div visible*/
}

/*Pseudo class selectors*/
a:link{

}
a:visited{

}
a:hover{
	
}
a:active{

}

/*__________________________________________________________*/
/*index.html*/

div.link{
	position: absolute;
	width: 33%;
	height: 33%;
	text-align: center;
	display: inline-block;
}

#links img{
	max-height: 100%;
}

div #indexMusicLink{
	top: 50%;
	left: 10%;
	background: url("../images/music.png") no-repeat center center;
	background-size: contain;
}

div #indexMusicLink:hover{
	background: url("../images/music_hover.png") no-repeat center center;
	background-size: contain;
}

div #indexGamesLink{
	top: 10%;
	left: 33%;
	background: url("../images/games.png") no-repeat center center;
	background-size: contain;
}

div #indexGamesLink:hover{
	background: url("../images/games_hover.png") no-repeat center center;
	background-size: contain;
}

div #indexWritingLink{
	top: 50%;
	right: 10%;background: url("../images/writing.png") no-repeat center center;
	background-size: contain;
}

div #indexWritingLink:hover{
	background: url("../images/music.png") no-repeat center center;
	background-size: contain;
}