# File types
*.MOV
*.mp3
*.mp4
*.ogg
*.otf
*.pdf
*.rtf
*.zip

# Directories
_archive/
_to-do/
import/
tge_starter_game/

# Subdirectories only (files permitted)
games/building-worlds/*/**/
sites/*/**/