/* Thanks to: 
http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page 
for guidance on sticking the footer to the bottom of the page.

http://colorschemedesigner.com/
for generating a complementary color scheme for me using:
#F5F4F1 (background color from a JPG as base) - off-white
#9F8B4E - rgb(159, 139, 78) - brown
#325066 - rgb(50,80,102) - blue
#7C7B7D - rgb(124,123,125) - gray
and then, using the blue as a new base:
#326E53 - rgb(50,110,83) - green
#9F6049 - rgb(159,96,73) - red


 */

/*__________________________________________________________*/
/* All pages */

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body{
	margin: 0;
	padding: 0;
	height: 100%;
}

body{
	background: url("images/background/background.png");
	font-family: Arial, Helvetica, sans-serif;
}

p {
	font-size: 1em;
}

div#wrapper{
	position: relative;
	min-height: 100%;
	/*border: 1px solid blue;*/ /*Make wrapper visible.*/
}

section.content{
	clear:both;
	margin:auto;
	padding: 0;
	text-align: center;
	/*border: solid 1px black;*/
}

div.background{
	position: fixed;
	z-index: -1;
	top: 15%;
	left: 15%;
	width: 70%;
	height: 70%;
	opacity: 0.1;
}

div.details{
	display: none;
}

a{
	text-decoration: none;
}

header a:link,
nav a:link,
a:link{
	color: blue;
}

header a:visited,
nav a:visited,
article.thing a:visited,
section#about a:visited{
	color: blue;
}

header a:hover,
nav a:hover,
article.thing a:hover,
section#about a:hover,
a:hover{
	color: red;
}

a:active{}

article#whatPage {
	margin-bottom: 1em;
	display: none;
}

article#whatPage img {
	float:right;
	height: 2.5em;
}

article#whatPage h2 {
	width:16em;
	font-size: 1.4em;
	margin:auto;
	padding-left: 0.25em;
	background:rgb(159, 139, 78);
	background:rgba(159, 139, 78, 0.7);
	text-align: left;
	border:solid 1px black;
}

article.thing {
	/*clear:both;*/
	display: inline-block;
	position: relative;
	width: 19em;
	padding: 0em;
	margin: 0.5em;
	text-align: left;
	vertical-align: top;
	/*border-radius: 10px;*/
}

article.game {
	background:rgb(50,80,102);
	background:rgba(50,80,102, 0.6);
}

article.writing {
	background:rgb(50,110,83);
	background:rgba(50,110,83,0.6);
	padding-bottom: 0.5em;
}

article.archive {
	width: 40%;
}

article.archive ul {
	list-style-type: none;
	padding-left: 0.75em;
	margin-bottom: 0;
}

article.archive li {
	margin: 0.5em 0;
}

article.archive li:last-child {
	margin-bottom: 0;
}

article.music {
	background:rgb(159,96,73);
	background:rgba(159,96,73,0.6);
}

article.music, article.writing {
	padding-top: 0.5em;
}

article.thing h3 {
	display:inline;
}

article.thing img {
	display: block;
	width: 100%;
	/*border-radius: 10px;*/
}

article.thing h3 {
	margin: 0.25em 0 0 0.5em;
	padding: 0;
	color: white;
	text-shadow: 3px 3px 3px black;
}

article.game h3 {
	position: absolute;
	top: 0;
	left: 0;
	/*font-size: 2em;*/
	/*opacity: 0;*/
}

article.game:hover h3 {
	/*opacity: 1;*/
}

article.game h3:hover, article.game img:hover {
	cursor: pointer;
}

article.thing p {
	clear: both;
	margin: 0 0.5em;
	text-align: justify;
}

article.thing p.specs {
	text-align: right;
	color: silver;
	font-size: 0.9em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

article.thing audio {
	/*float:left;*/
	width: 18em;
	margin: 0 0.5em;
}

span.italics {
	font-style: italic;
}

/*__________________________________________________________*/
/* Header (contains Nav) */

header{
	z-index: 4;
	width: 100%;
	/*border: 1px solid blue;*/
}

header h1 section {
	display:inline-block;
}

header h1{
	display: inline-block;
	width:63.5%;
	margin-left:0.5%;
	font-size: 1.5em;
	/*border: 1px solid green;*/
}

/*__________________________________________________________*/
/* Nav (contained in Header) */

nav{
	display:inline-block;
	width:34%;
	z-index: 3;
	/*border: 1px solid red;*/
}

nav ul{
	float:right;
	padding-left: 0;
	margin: auto;
	/*border: 1px solid black;*/
}

nav ul li{
	width: 4em;
	display: inline-block;
	list-style-type: none;
	text-align: center;
	/*border: 1px solid black;*/
}

nav ul li a h2{
	margin:auto;
	font-size: 1.15em;
	/*border: 1px solid black;*/
}

/*__________________________________________________________*/
/* Footer */

footer{
	/*position: absolute;*/
	/*z-index: 2;*/
	/*bottom: 0;*/
	width: 100%;
	/*height: 3.5em;*/
	text-align: center;
	font-size: 0.8em;
	/*border: 1px solid red;*/
}

footer p {
	padding: 0;
	margin: 0;
}

footer img{
	width: 5em;
}

footer section#legalAndLogo {
	/*border: 1px solid green;*/
}

footer section#legalAndLogo a img:hover{
	position: relative;
	bottom: 0.25em;
}

footer section#legalAndLogo a:first-child{
	margin-left: 1.5%; /*Matches margin of leftHalf p above.*/
}

footer section#footerTxt{
	clear: both;
	font-size: 0.9em; /*Fits the sentence on one line in a 1024px window.*/
	/*border: 1px solid black*/
}

/*a#jumpToTop{
	position: fixed;
	z-index: 10000;
	bottom: 2%;
	right: 2%;
	padding: 0.25em;
	border: 1px solid black;
}*/

/*__________________________________________________________*/
/* index.php */

#welcome {
	position:absolute;
	top:0.5em;
	right: 0.5em;
	width: 24em;
	font-size: 1em;
	padding-left: 0.5em;
	background:rgb(159, 139, 78); /* Brownish, #9F8B4E */
	background:rgba(159, 139, 78, 0.7); /* add the alpha */
	border: solid 1px black;
	display: none;
}

#welcome img {
	float:right;
	height: 5em;
	margin-left: 0.5em;
}

#welcome h1 {
	margin:auto;
	text-align: left;
}

section#index a div.link{
	position: absolute;
	z-index: 5;
	width: 33%;
	height: 33%;
	text-align: center;
	display: inline-block;
}

section#index a div#indexMusicLink{
	top: 50%;
	left: 10%;
	background: url("../images/background/music_gray.png") no-repeat center center;
	background-size: contain;
}

section#index a div#indexMusicLink:hover{
	background: url("../images/background/music_hover.png") no-repeat center center;
	background-size: contain;
}

section#index a div#indexGamesLink{
	top: 10%;
	left: 33%;
	background: url("../images/background/games_gray.png") no-repeat center center;
	background-size: contain;
}

section#index a div#indexGamesLink:hover{
	background: url("../images/background/games_hover.png") no-repeat center center;
	background-size: contain;
}

section#index a div#indexWritingLink{
	top: 50%;
	right: 10%;
	background: url("../images/background/writing_gray.png") no-repeat center center;
	background-size: contain;
}

section#index a div#indexWritingLink:hover{
	background: url("../images/background/writing_hover.png") no-repeat center center;
	background-size: contain;
}

/*__________________________________________________________*/
/* games.php */

section#games div#gamesPic{
	background: url("images/background/games.png") no-repeat center center;
	background-size: contain;
}

/*__________________________________________________________*/
/* music.php */

section#music div#musicPic{
	background: url("images/background/music.png") no-repeat center center;
	background-size: contain;
}

/*__________________________________________________________*/
/* writing.php */

section#writing div#writingPic{
	background: url("images/background/writing.png") no-repeat center center;
	background-size: contain;
}

/*__________________________________________________________*/
/* about.php */

section#about {
	margin: 0 0.5em;
}

section#about article#whatPage {
	margin-bottom: 1em;
}

section#notDomain {
	display:inline-block;
	vertical-align: top;
	width:57em;
	padding:0;
	/*border:solid 1px black;*/
}

section#about article#mePics{
	display:inline-block;
	vertical-align: top;
	width:26em;
	height:32.4em;
	margin:1em;
	background: url("../images/people/me2.jpg") no-repeat center center;
	background-size: contain;
	/*border:solid 1px black;*/
}

section#about article#mePics:hover{
	background: url("../images/people/me_and_she.jpg") no-repeat center center;
	background-size: contain;
}

section#about article#text {
	display: inline-block;
	text-align: left;
	vertical-align: top;
	width:26em;
	margin:1em;
}

section#about article#text p {
	margin:0;
}

section#about article#text section#logos {
	/*text-align: center;*/
	margin-bottom: 0.5em;
}

section#about article#text section#logos img {
	width:2em;
}

section#about article#text ul {
	display:inline-block;
}

section#about article#yesyesno {
	display: inline-block;
	vertical-align: top;
	width:53em;
	margin:1em;
	padding:0.5em;
	background:rgb(124,123,125);
	background:rgba(124,123,125,0.7);
	/*border:solid 1px black;*/
}

section#about article#yesyesno img {
	width:100%;
	margin-bottom: 0.5em;
}

section#about article#yesyesno p {
	text-align: left;
	margin:0;
}

section#about article#domain {
	display: inline-block;
	width:26em;
	margin:1em;
	padding:0.25em 0.5em;
	background:rgb(124,123,125);
	background:rgba(124,123,125,0.7);
	/*border:solid 1px black;*/
}

section#about article#domain img {
	width:100%;
	margin:0;
}

section#about article#domain p {
	text-align: left;
	margin:0;
	color:white;
}

#intro {
	text-align: center;
	padding: 10px;
}

p.jumbo {
	font-size: 1.5em;
}

span.highlight {
	color: blue;
	font-size: 2em;
}


/*Thumbnail grid stuff*/

.og-grid {
	list-style: none;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.og-grid li {
	display: inline-block;
	margin: 10px 5px 0 5px;
	vertical-align: top;
	height: 250px;
}

.og-grid li > a {
	cursor: pointer;
}

.og-grid li > a,
.og-grid li > a img {
	border: none;
	outline: none;
	display: block;
	position: relative;
}

.og-grid li > a img, .og-expander {
	box-shadow: 10px 10px 5px #888888;
}

.og-grid li > a h3 {
	position: absolute;
	bottom: 0;
	margin: 0;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.8);
	color: black;
	font-size: 0.75em;
	width: 100%;
	opacity: 0;
}

.og-grid li > a:hover h3 {
	opacity: 1;
}

.og-grid li.og-expanded > a:hover img {
	opacity: 0.7;
	/*-webkit-filter: grayscale(100%);*/
}

.og-grid li.og-expanded > a:hover h3 {
	opacity: 0;
}

.og-grid li.og-expanded > a::after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #ddd;
	border-width: 15px;
	left: 50%;
	margin: -20px 0 0 -15px;
}

.og-expander {
	position: absolute;
	background: #ddd;
	top: auto;
	left: 0;
	width: 100%;
	margin-top: 10px;
	text-align: left;
	height: 0;
	overflow: hidden;
}

.og-expander-inner {
	padding: 50px 30px;
	height: 100%;
}

.og-close {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.og-close::before,
.og-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	background: #888;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

#about .og-close::before, #about .og-close::after {
	left: 0;
}

.og-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
	background: #333;
}

.og-fullimg,
.og-details {
	width: 50%;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.og-details {
	padding: 0 40px 0 20px;
	overflow-y: auto; /* Find me */
}

.og-fullimg {
	text-align: center;
}

.og-fullimg img {
	display: inline-block;
	max-height: 100%;
	max-width: 100%;
}

.og-details h3 {
	font-weight: 300;
	font-size: 52px;
	padding: 0 0 10px;
	margin-top: 0;
	margin-bottom: 10px;
}

.og-details p {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #999;
}

.og-details > a {
	font-weight: 700;
	font-size: 16px;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 10px 20px;
	border: 3px solid #333;
	display: inline-block;
	margin: 30px 5px 0 0; /* button spacing */
	outline: none;
}

.og-details > a::before {
	content: '\2192';
	display: inline-block;
	margin-right: 10px;
}

.og-details > a:hover {
	border-color: #999;
	color: #999;
}

.og-loading {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ddd;
	box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	-webkit-animation: loader 0.5s infinite ease-in-out both;
	-moz-animation: loader 0.5s infinite ease-in-out both;
	animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 830px) {

	.og-expander h3 { font-size: 32px; }
	.og-expander p { font-size: 13px; }
	.og-expander a { font-size: 12px; }

}

@media screen and (max-width: 650px) {

	.og-fullimg { display: none; }
	.og-details { float: none; width: 100%; }
	
}





/*Parallax-esque (sorta) stuff*/
#games {
	position: fixed;
	overflow: auto;
}
 
#about { 
	position: relative;
	top: 10000px;
	background-color: white;
	-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
	box-shadow: 0 0 50px rgba(0,0,0,0.8);  
}