<!DOCTYPE html>

<html>
<head>

	<title>Attitude template.</title>
	<link href="style.css" rel="stylesheet" />

</head>
<body>
	<div id="wrapper">

		<header>
			<img src="pics/terrain.png" alt="terrain">
			<div>
				<h1>The</h1>
				<h1 style="margin-left: 50px">chillest</h1>
				<h1 style="margin-left: 100px">Web site</h1>
				<h1 style="margin-left: 150px">on the 'tubes</h1>
				<h2>cooler than you as of <script>document.write(new Date().toDateString());</script></h2>
			</div>
		</header>

		<nav>
			<ul>
				<li id="#tab1" class="highlight">Home</li>
				<li id="#tab2">is</li>
				<li id="#tab3">where</li>
				<li id="#tab4">the</li>
				<li id="#tab5">Web</li>
				<li id="#tab6">site</li>
				<li id="#tab7">is.</li>
			</ul>
		</nav>

		<div id="content">

			<section id="tab1" class="active">
				
				<img src="pics/terrain.png" alt="terrain">

			</section>

			<section id="tab2">

				<div class="pic">
					<img src="pics/terrain.png" alt="terrain">
					<p class="caption">It's the same image!</p>
				</div>
				<div class="text">
					<p>This site is so chill that it doesn't need more than one image.</p>
				</div>
				<div class="pic">
					<img src="pics/terrain.png" alt="terrain">
					<p class="caption">Over here too!</p>
				</div>

			</section>

			<section id="tab3">

				<p>Hey listen.</p>
				<img src="pics/terrain.png" alt="terrain">
				<p class="caption">Maybe you've noticed</p>
				<img src="pics/terrain.png" alt="terrain">
				<p class="caption">there's just one piece of content on this site.</p>
				<img src="pics/terrain.png" alt="terrain">
				<img src="pics/terrain.png" alt="terrain">
				<img src="pics/terrain.png" alt="terrain">
				<p>Hey listen.</p>
				<img src="pics/terrain.png" alt="terrain">
				<p class="caption">Don't be judgmental.</p>

			</section>

			<section id="tab4">

				<p>Hey listen. Maybe you've noticed there's just one piece of content on this site. Hey listen. Don't be judgmental.</p>
					
				<p>This site is so chill that it doesn't need more than one image.</p>
				
				<p>One piece of content.</p>
				
				<p>One "content"</p>

				<p>as it were.</p>

				<p>So</p>

				<p>It's like</p>

				<p>that part in</p>

				<p class="italic">Understanding Comics.</p>

				<p>The abstraction promotes indentification. Your site here.</p>

				<p>This is some seriously high-level meta-cogitative analysis, obviously. Or possibly just a chill site. Who can say. </p>

			</section>

			<section id="tab5">

				<img src="pics/terrain.png" alt="terrain">
				<p>The abstraction promotes indentification.</p>

			</section>

			<section id="tab6">

				<p>Your site here.</p>
				<img src="pics/terrain.png" alt="terrain">

			</section>

			<section id="tab7">

				<img src="pics/terrain.png" alt="terrain">

			</section>

		</div><!-- End content -->

		<footer>
			<p id="copyright">Copyright &copy; <script>document.write(new Date().getFullYear());</script> John Matthew Griffis</p>
		</footer>

	</div><!-- End wrapper -->
	<script src="jquery-1.11.0.min.js"></script>
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="buttons.js"></script>
</body>
</html>